header {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Aligns items vertically */
    padding: 0.5rem;
}

nav{
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #acacac;
}

.profilePicture{
    position: relative;
    bottom: 15%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: #1a1a1ae8 2px solid;
    box-shadow: #000000 0 0 10px;
}

.profilePicture:hover{
    cursor: pointer;
    box-shadow: #6b6b6b 0 0 10px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdownMenu {
position: absolute;
top: 100%;
right: 0;
background-color: #000000a7;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdownMenu button {
background: none;
border: none;
color: #ffffff;
cursor: pointer;
}

.dropdownMenu button:hover {
color: #a5a5a5;
}
  